form > input {
  margin-bottom: 25px;
}

/*NAV BAR*/
.navbar-dark {
  margin-bottom: 25px;
}

.navbar-nav > li > a {
  font-size: 25px;
}
/*------*/

.activityLvl {
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  border-radius: 5%;
  font-size: 1.5em;  
}

.activity:hover {
  background-color: lightgray;
}

.btn-md {
  margin-top: 10px;
}