form > input {
  margin-bottom: 25px;
}

.navbar-dark {
  margin-bottom: 25px;
}

.navbar-nav > li > a {
  font-size: 25px;
}

.activityLvl > a {
  display: block;
  padding: 5px;
  border-radius: 5%;
  font-size: 1.5em;
}

.activityLvl > a:hover {
  background-color: lightgray;
}

.btn-md {
  margin-top: 10px;
}